@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.tl {
  @apply rounded-tl-full
}

.tr {
  @apply rounded-tr-full
}

.bl {
  @apply rounded-bl-full
}

.br {
  @apply rounded-br-full
}

.yellow-base {
  @apply bg-yellow-500 border-4 border-yellow-600 text-black
}

.yellow-active {
  @apply bg-yellow-200 border-yellow-300 shadow-md shadow-yellow-200 border-4 text-black
}

.red-base {
  @apply bg-red-500 border-4 border-red-600 text-white
}

.red-active {
  @apply bg-red-200 border-red-300 shadow-md shadow-red-200 text-white border-4
}

.blue-base {
  @apply bg-blue-500 border-4 border-blue-600 text-white
}

.blue-active {
  @apply bg-blue-300 border-blue-400 shadow-md shadow-blue-300 border-4 text-white
}

.green-base {
  @apply bg-green-500 border-4 border-green-600 text-white
}

.green-active {
  @apply bg-green-300 border-green-400 shadow-md shadow-green-300 text-white border-4
}